@model School_Management_System.Models.student
<form asp-action="Edit">
    <div class="form-group">
        <label asp-for="name"></label>
        <input asp-for="name" type="text" class="form-control" placeholder="Enter  Name Here">
    </div>
    <div class="form-group">
        <label asp-for="address"></label>
        <input asp-for="address" type="text" class="form-control" placeholder="Enter Address Here">
    </div>
    <div class="form-group">
        <label asp-for="roll"></label>
        <input asp-for="roll" type="text" class="form-control" placeholder="Enter Roll Here">
    </div>
    <div class="form-group">
        <label asp-for="clas"></label>
        <input asp-for="clas" type="text" class="form-control" placeholder="Enter Class Here">
    </div>


    <button type="submit" class="btn btn-primary">Submit</button>
</form>
