@model School_Management_System.Models.faculty
<form asp-action="Edit">
    <div class="form-group">
        <label asp-for="name"></label>
        <input asp-for="name" type="text" class="form-control" placeholder="Enter  Name Here">
    </div>
    <div class="form-group">
        <label asp-for="address"></label>
        <input asp-for="address" type="text" class="form-control" placeholder="Enter Address Here">
    </div>
    <div class="form-group">
        <label asp-for="department"></label>
        <input asp-for="department" type="text" class="form-control" placeholder="Enter Department Here">
    </div>
    <div class="form-group">
        <label asp-for="salary"></label>
        <input asp-for="salary" type="text" class="form-control" placeholder="Enter Salary Here">
    </div>
    <div class="form-group">
        <label asp-for="mobile"></label>
        <input asp-for="mobile" type="text" class="form-control" placeholder="Enter mobile no Here">
    </div>


    <button type="submit" class="btn btn-primary">Submit</button>
</form>
